@import url("http://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Montserrat:wght@300;500;700;900&family=Ubuntu&display=swap");

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.title-mytasks {
  font-family: "Joan", serif;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }
  .find-time {
    width: 30%;
  }
  .box-list {
    height: 400px;
  }
  .App {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
  .title {
    padding-bottom: 10px;
  }
  .find-time {
    background-color: white;
    padding: 0;

    margin-top: 25px;
  }
  .find-time input {
    padding: 2px;
    width: 100%;

    border: 1px dotted #ecce93;
  }
  .search-task {
    width: 80%;
  }
  .title-item {
    margin-top: 5px;
  }
}
@media screen and (max-width: 430px) {
  .title {
    height: 2rem;
    font-size: 10px;
  }
  .title img {
    display: none;
  }

  .box-list {
    height: 450px;
  }
  .find-time {
    background-color: white;
    padding: 0;
    border: 5px;

    border-color: #ecce93;
  }
  .search-task {
    width: 80%;
  }
  .btn-add {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  .myfrom {
    margin-bottom: 10px;
  }
  .myfrom input {
    width: 100%;
  }
  .find-time input {
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ecce93;
  }
  .item {
    padding: 1.5px 5px;
  }
  .box-content {
    background-color: rgba(218, 165, 32, 0.432);
  }
}
@media screen and (max-width: 430px) {
  .title-item {
    width: 50%;
  }
  .search-task {
    width: 100%;
  }
  .myfrom {
    padding: 0;
    margin-left: 0;
  }
  .find-time {
    margin-right: 0;
    padding-right: 0;
    background-color: aquamarine;
  }
  .navbar {
    top: 40px;
  }
  .icon-time {
    display: none;
  }
}
